body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: #fff;
}

/* GRID MENOR */
#roleta {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  gap: 4px;
  justify-content: center;
  margin: 15px;
}

button {
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.vermelho { background: #c0392b; }
.preto { background: #2c3e50; }
.zero { background: #27ae60; }

#historico {
  margin: 10px;
  background: #222;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}

/* PAINEL */
.painel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 10px;
  padding: 10px;
}

.bloco {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.item {
  margin: 4px;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
}

/* RESULTADO */
#filtro {
  margin: 15px;
  padding: 10px;
  background: #000;
  border-radius: 10px;
}
